# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
.turbo
.next
.next-cache
.runtime-next
.runtime-next-dev
coverage

# Logs
*.log
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# OS / Editor
.DS_Store
Thumbs.db
.idea
.vscode
